img {
    display: block;
    width: auto;
    height: auto;
}

.bg-image {
    height: 70%;
    width: 70%;
    margin-left: 14%;
}

.float-start{
    width: 30%;
    height: 30%;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;;
}
